* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0b0b0b;
    height: 9vh;
    font-family: 'Courier New', Courier, monospace;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 5vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #0b0b0b;
      flex-direction: column;
      align-items: center;
      justify-content: baseline;
      padding-top: 50px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index:3

    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    .logo1 {
      margin-left: 10px;
    }

    .botões {
        display:none;
        margin-left: 0;
    }

    .button-doação {
        display:none;
        margin-left: 0;
    }

    .btn_discord {
        display:none;
        margin-left: 0;
    }

    .btn_jambo {
        display:none;
        margin-left: 0;
    }

    .mobile-menu {
      display: block;
      margin-left: auto;
      margin-right: 20px;
      z-index:4
    }

    .main1 {
      width: 100%;
      height: 1000px;
      min-height:max-content;
      max-height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .texto-main {
      width: 90%;
      margin: auto;
      padding-left: 14%;
      padding-bottom: 10%;
    }
    .main_cta {
      flex-direction:column;
      justify-content: center;
      margin: auto;
    }
    .resumo {
      margin: 0%;
    }
    .txt_resumo {
      margin: 0%;
    }
    .retângulo {
      width: 90%;
      height: 90%;
    }
    .resumo {
      margin: 0%;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .btn_nv1 {
    font-size: 18px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-color: #ffffff;
  }

/* BOTÕES: */


main {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: #0b0b0b;
}
.logo {
    padding: 4px;
    width: 70%;
    float: left;
}
.botões {
    display: flex;
    text-align: right;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}
.button-doação {
    padding: 10px 15px;
    margin-top: 0px;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(48, 47, 47, 0);
    color: #ffffff;
    transition: 0.5s;
}
.button-doação:hover {
    background-color: #ffffff;
    color: #111111;
    font-weight: bolder;
}
.btn_discord {
    padding: 8px 10px;
    margin-top: 0px;
    font-size: 22px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(48, 47, 47, 0);
    color: #ffffff;
    transition: 0.5s;
    margin-right: 10px;
    align-items: center;
}
.btn_discord:hover {
    background-color: #ffffff;
    color: #111111;
    font-weight: bolder;
}
.btn_jambo {
    padding: 2px 4px;
    margin-top: 0px;
    font-size: 22px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(48, 47, 47, 0);
    color: #ffffff;
    transition: 0.5s;
    margin-right: 10px;
    align-items: center;
}
.btn_jambo:hover {
    background-color: #ffffff;
    color: #111111;
    font-weight: bolder;
}

/*
SESSÃO PRINCIPAL:
*/

section.main1 {
    background-color: black;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 500px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.retângulo {
    width: 71%;
    height: fit-content;
    min-width: 71%;
    min-height: 70%;
    margin: auto;
    background-color: #0b0b0b;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding-right: 12px;
    box-shadow: 8px 8px 8px;
}

.main_cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-main {
    display:block;
    color: #ffffff;
}

.button-missao {
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(48, 47, 47, 0);
    color: #ffffff;
    transition: 0.5s;
}

.button-missao:hover {
    background-color: #641e25;
    color: #ffffff;
    font-weight: bolder;
}

.caixa1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    position:relative;
    display: flex;
    width: 5em;
    height: 2em;
    line-height: 2;
    color: #ffffff;
    background: #111111;
    overflow: hidden;
    border-radius: .25em;
    font-size: 18px;
    text-align: center;
    z-index:2
}
.caixa1::after {
    content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #111111;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.caixa1:hover::after {
    color: #23b499;
}

/*
SESSÃO 2:
*/

section.main2 {
    background-color: #0b0b0b;
    width: 0 auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 50px;
}

section.main_ct2 {
    display: flex;
    text-align: center;
}

section.text_ficha {
    margin: 100px;
    text-align: center;
    display: flex;
}

section details{
    font-size: 20px;
    margin: 20px 0px;
}

section details summary{
    background-color:#240b0d;
    padding: 1%;
    border-bottom: 2px solid #000000;
}

section details p{
    background-color: #000000;
    padding: 1%;
    transition: all .5s;
}

.resumo {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #000000;
    border-radius: 25px;
}

.txt_resumo {
  padding: 2% 3%;
}

.ornamento1 {
    background-color:#641e25;
    width: 350px;
    height: 10px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    margin-top: -15px;
    border-radius: 20px;
}
